In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
from pandas_datareader import data, wb
import datetime as dt
%matplotlib inline

In [24]:
start = dt.datetime(2003,1,1)
end = dt.datetime(2022,1,1)

In [25]:
Tata = data.DataReader("TATACONSUM.NS","yahoo",start,end)

In [42]:
Tata.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2003-01-01  17.480000  17.299999  17.400000  17.430000   402300.0  12.281036
2003-01-02  17.610001  17.170000  17.445000  17.245001  1117400.0  12.150683
2003-01-03  17.379999  17.025000  17.299999  17.105000   400120.0  12.052039
2003-01-06  17.240000  16.910000  17.150000  17.000000   515770.0  11.978059
2003-01-07  17.150000  16.809999  17.000000  16.855000   395710.0  11.875892